.white-space {
    background-color: white;
}

.black-space {
    background-color: black;
}

img {
    max-width: 80px;
    height: auto;
    cursor: pointer;
}

#chessboard td,th {
    width: 80px;
    max-height: 100px;
    padding: 0;
}

#chessboard {
    margin: auto;
}
.cell-on-black {
    background-color: gray;
}

.cell-on {
    cursor: pointer;
}

.cell-on-white {
    background-color: darkgray;
}
h1 {
   font-family: sans-serif;
 }