.white-space {
    background-color: white;
}

.black-space {
    background-color: black;
}

img {
    max-width: 80px;
    height: auto;
    cursor: pointer;
}

#chessboard td,th {
    width: 80px;
    max-height: 100px;
    padding: 0;
}

#chessboard {
    margin: auto;
    padding-top: 15px;
    padding-right: 15px;
}

.cell-on {
    cursor: pointer;
    background-color: #f44336;
}

h1 {
    font-family: sans-serif;
}